<html>
<body>
<h4>Initial:</h4>
<ol>
    <li>Max length of a snake is 10 (max health is 100)</li>
    <li>Initial length is 1</li>
    <li>Number of foods is (number of players - 1)</li>
</ol>

<h4>Attack:</h4>
<p>
   Every time a snake is hit by head of another snake its length will be reduced by 1 a and health reduced by 10 respectively.
</p>

<h4>Edge cases:</h4>
<ol>
    <li>"head-to-head": when two snakes hit on each other with their heads, their healths should both reduce by 10 (length reduced by 1 respectively)</li>
    <li>“hit-on-wall”: when a snake hits a wall, the snake will reduce health by 10 (length by 1) for each time step until user change the direction.</li>
</ol>

<h4>Food-health model:</h4>
<p>The total number of food in the board should be (number of users - 1) so as to force competition. Once a food is taken another one will be generated randomly into the board. Once a snake takes in a food the length will be increased by 1 (health increased by 10 until it reaches the maximum health).
</p>
</body>
</html>