<html>
<body>
<h3>Initial Health and Damage:</h3>
<p>Each snake has its health initially set to 100 hp. Also, A snake has initial damage set to 20.</p>

<h3>Different Kinds of Food:</h3>
<p>Healing Food: snake will increase its health when eating this kind of food. The healing will stop at the snake’s current maximum health.
Damage Booster: snake will increase its attack damage permanently when eating Damage Booster. (The value boosted will be generated randomly between 1-10)Length Booster: snake will increase in length when eating this kind of food.
Freezing Pellet: a snake which gets the pellet will slow the opponent snakes for a certain amount of time. </p>

<h3>Snake level:</h3>
<p>A snake can level up when it hits certain length with its body, which will permanently increase its maximum health and has its damage increased by a certain percentage.</p>

<h3>Attack mechanic:</h3>
<p>Each snake will have its weak spot and the opponent snakes need to attack that spot in order to deal damage. The location of the weak spot is generated randomly on the starting game, and it will be generated randomly right after the snake gets attacked. Snakes can cross over each other.</p>
</body>
</html>