<!DOCTYPE html>
<html>
<head>
    <title>Combating Snakes</title>
    <!-- Style sheets -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/create_room.css">
    <!-- Jquery package -->
    <script  type="text/javascript"src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script  type="text/javascript"src = "../static/scripts/jquery.min.js"></script>
    <!-- JavaScript files -->
    <script type = "text/javascript" src="../static/scripts/script.js"></script>
    <script type = "text/javascript" src="../static/scripts/mainPage.js"></script>
    <script type = "text/javascript" src="../static/js/user.js"></script>
    <!--script type = "text/javascript" src="../static/scripts/create_room.js"></script-->
    <script type="text/javascript">
        var is_login = false;
        $(function(){
            Frontpage.start();
            UserHandler.start();
            //Room.start();
        });
    </script>
</head>

<body>
<header>
    <!-- create the logo on top of the front page -->
    <div class="logo">
        <img src = "../static/images/CombatingSnakes.png">
        <div class="userInfo">
            <div class="usernameInfo">Welcome, Username!</div>
            <div class="form_field form_fill">
                <input type="submit" value="Log out" class="logout generic-button">
            </div>
        </div>
    </div>
</header>
<div id = 'cssmenu'>
    <ul>
        <li class='active'><a href='#'>Home</a></li>
        <li class='rule-button'><a href='#'>Game Rules</a></li>
        <!--<li class='gamestart-button'><a href='#'>Start Game</a></li>-->
        <li class="leader-button"><a href='#'>Leaderboard</a></li>
        <li class='intro-button'><a href='#'>Credits</a></li>
    </ul>
</div>
<section class = "gamerule frame">
    {% block gamerule %}{% include 'gamerule.html' %}{% endblock %}
</section>

<section class = "intro frame">
    {% block intro %}{% include 'intro.html' %}{% endblock %}
</section>
<section class = "leaderboard frame">
    {% block leaderboard %}{% include 'leaderboard.html' %}{% endblock %}
</section>

<div class = "login_container form_container">
    {% block login %}{% include 'login.html' %}{% endblock %}
</div>

<div class = "signup_container form_container">
    {% block signup %}{% include 'signup.html' %}{% endblock %}
</div>

<div class = "roomcreate_container form_container">
    {% block createroom %}{% include 'roomCreatePage.html' %}{% endblock %}
</div>

<!-- create room -->
<div class="create_room">
    {% block roompage %}{% include 'roompage.html' %}{% endblock %}
</div>

</body>
</html>