<html>
<body>
<form action = "" method="post" class="form form-login form_fill">
    <div class="form_field">
        <label class="username" for="login_username">Username</label>
        <input id="login_username" type="text" class="form_input" placeholder="Username"required>
    </div>
    <div class = "form_field">
        <label class = "userpassword" for="login_password">Password</label>
        <input id="login_password" type="password" class="form_input" placeholder="Password" required>
    </div>
    <div class="form_field">
        <input type="submit" value="Sign In" class="submit-login">
    </div>
</form>
<p class = "text-center">Not a member?<a href="#">Sign up now</a></p>
<div class="text-center error">
    <div class="login_error"></div>
</div>
</body>
</html>