<html>
<body>
<form action = "" class="form room_list">
    <div class="myrooms">
    	<select id="listofrooms" size="10">
		    <option value="1">Item #1</option>
		    <option value="2">Item #2</option>
		    <option value="3">Item #3</option>
		</select>
    </div>
    <div class="form_field">
    	<input type="submit" value="Join" class="join_specific_room">
    </div>
    <div class="form_field">
    	<input type="submit" value="Cancel" class="cancel_room_pick">
    </div>
</form>
</body>
</html>