<html>
<body>
<form action = "" method="post" class="form form-signup form_fill">
    <div class="form_field">
        <label class="username" for="signup_username">Username</label>
        <input id="signup_username" type="text" class="form_input" placeholder="Username"required>
    </div>
    <div class="form_field">
        <label class="usernickname" for="signup_nickname">Nickname</label>
        <input id="signup_nickname" type="text" class="form_input" placeholder="Nickname"required>
    </div>
    <div class = "form_field">
        <label class = "userpassword" for="signup_password">Password</label>
        <input id="signup_password" type="password" class="form_input" placeholder="Password" required>
    </div>
    <div class = "form_field">
        <label class = "userpassword" for="signup_password">Retype password</label>
        <input id="signup_password_retype" type="password" class="form_input" placeholder="Retype password" required>
    </div>
    <div class="form_field">
        <input type = "submit" value="Sign up" class="submit-signup">
    </div>
</form>
    <div class="text-center error">
        <div class="signup_error"></div>
    </div>
</body>
</html>