body{
	margin: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	//font-family: "Lucida Console", Monaco, monospace;
	font: 14px BlinkMacSystemFont;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #060606;
}
.logo{
	text-align: center;
	animation: blinker 1.5s linear infinite;
	height: 5%;
}

@keyframes blinker {  
  80% { opacity: 0.7; }
}

.frame {
	border-radius: 10px;
	padding: 15px;
	color: gray;
	background-color: rgba(0,0,0,0.8);
	margin-top: 15px;
	margin-left: 25%;
	margin-right: 25%;
	box-shadow: 0 0 10px #CCCCCC;
}

.gamerule{
}
.intro{
}
.leaderboard{
}

.winner_table, .winner_table td, .winner_table th{
	border: 1px solid white;
	border-collapse: collapse;
}

/* log in container design */
.form_container{
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 3rem 0;
	background: #363b41;
	background-color: rgba(0,0,0,0.8);
	margin-top: 15px;
	margin-left: 35%;
	margin-right: 35%;
	box-shadow: 0 0 10px #CCCCCC;
	border-radius: 12px;
}
.form input[type="password"], .form input[type="text"], .form input[type="submit"] {
	width: 100%;
}
.form_fill {
	margin-left: 10%;
	margin-right: 10%;
	color: #606468;
}

.form_fill input[type="text"],
.form_fill input[type="password"]
{
	font-size: 100%;
	padding: 1rem;
	border-radius: 6px;
	color:white;
}
.form_fill label,input[type="submit"]{
	font-size: 80%;
	border-radius: 6px;
	padding: 1rem;
}
.form_fill input[type="text"], .form_fill input[type="password"] {
	background-color: #3b4148;
}
.form_fill input[type="text"]:focus, .form_fill input[type="text"]:hover, .form_fill input[type="password"]:focus, .form_fill input[type="password"]:hover {
	background-color: #434A52;
}
.form_fill input[type="submit"] {
	background-color: #265108;
	color: #eee;
	font-weight: bold;
	text-transform: uppercase;
}
.form_fill input[type="submit"]:focus, .form_fill input[type="submit"]:hover {
	background-color: #1F3311;
}
.form_field {
	display: flex;
	margin-bottom: 1rem;
}
.text-center {
	text-align: center;
	color: #606468
}
.text-center a{
	margin-left: 10px;
	color: white;
}

.error {
	color: red;
}

.userInfo{
	float: right;
	padding-right: 20px;
	font-size: 16px;
}

.usernameInfo {
	padding-top: 10px;
	padding-bottom: 10px;
	color: whitesmoke;
}

.logout {
	font-size: 16px;
	width: 100%;
}